@using System.IO
@using System.Reflection
@using System.Xml.Linq
@using CRED.Helpers
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Hosting.Internal
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Caching.Memory
@*@using ResourceMapper.Base*@
@inject IHostingEnvironment HostingEnvironment

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta>
        
    </meta>
    <title>@ViewData["Title"] - CRED</title>
    <base href="~/">
    <style>
        #app-container {
            height: 100%;
            padding: 0;
            margin: 0;
            animation: fadein 0.2s;
            animation-delay: 0.5s;
        }
    </style>
    @*<environment names="Staging,Production">
        <link rel="preload" href="@ClientApp.Resources.Bundles.CssBundleMinCss.GetClientAppFileUrl()" asp-append-version="true">
        <script src="@ClientApp.Resources.Bundles.JsBundleMinJs.GetClientAppFileUrl()" asp-append-version="true" defer></script>
    </environment>*@
</head>
<body>
    <environment names="Development">
        @*<div data-hotswap="true" data-manifest-src="@ClientApp.Resources.Bundles.CssBundleManifestJson.GetClientAppFileUrl(true)" data-resource-type="css" data-hmt-resource>
        </div>
        <div data-manifest-src="@ClientApp.Resources.Bundles.JsBundleManifestJson.GetClientAppFileUrl(true)" data-resource-type="js" data-hmt-resource>
        </div>*@
        @{
            Html.RenderPartial("HotModuleReplacementScript");
        }
    </environment>
    <div id="app-container"></div>
    @{
        Html.RenderPartial("SplashScreen");
        IgnoreBody();
    }
</body>
</html>
